* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 40vh);
}

#main > article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main > nav,
#main > aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20vw;
          flex: 0 0 20vw;
  background: beige;
}

#main > nav {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

header, footer, article, nav, aside {
  padding: 1em;
}

header, footer {
  background: #ce1127;
  height: 20vh;
}

p::first-letter {
  text-transform: uppercase;
  font-style: oblique;
  font-weight: bold;
}

H3 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
}

nav li:first-child {
  background-color: #360ccc;
}

nav li:last-child {
  background-color: #31eed8;
}

.navbar a:first-child::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1e0";
  color: grey;
}

/* search focus */
input:focus:valid {
  background-color: #31eed8;
}

/* TABLE */
thead th {
  border-bottom: 0.1em solid;
}

table {
  border-collapse: collapse;
}

th + td {
  border-left: 0.1em solid;
}

tbody tr :first-child {
  border-right: 0.1em solid;
}

tbody tr:nth-child(odd) {
  background-color: grey;
}

th {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */